<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846604436516-i3ae2n6i08vu35jngih4dor59qaimadd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846604436516-i3ae2n6i08vu35jngih4dor59qaimadd</string>
	<key>API_KEY</key>
	<string>AIzaSyDJcY-XMJTjeAqEFSnsm14Tn_24gdZaKEA</string>
	<key>GCM_SENDER_ID</key>
	<string>846604436516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domainname.fit-forever-from-an-24852</string>
	<key>PROJECT_ID</key>
	<string>fitfromanywhere-275b4</string>
	<key>STORAGE_BUCKET</key>
	<string>fitfromanywhere-275b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846604436516:ios:5c3a2dda80f7a76b4ec4b1</string>
</dict>
</plist>